server:
  port: 8091
spring:
  application:
    name: hom-gateway
  cloud:
    nacos:
      server-addr: 127.0.0.1:8000
      username: client
      password: h363WSxGId3x8QKBrAq9J1cKx5x9QpUq
      discovery:
        group: HOM_GATEWAY_GROUP
        namespace: 12e6ef0b-3ab9-449c-8331-5c7cfcf5b9f7
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
      routes:
        - id: hom-service-a
          #固定地址写法： uri: http://127.0.0.1:8002
          uri: lb://hom-service-a
          predicates:
            - Path=/a/**
          filters:
            - StripPrefix=1